out
*~
JBidwatcher-g.iws
classes
*.app.tar.gz
*.exe
*.dmg
JBid*.jar
jbidwatcher*.tar.gz
jbidwatcher*.tar.bz2
META-INF/*
*.iml
*.ipr
*.iws
s101plugin*
.idea
sign_in*
error*
onejar/META-INF/MANIFEST.MF
