<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>jbidicon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>JBidwatcher</string>
	<key>CFBundleSignature</key>
	<string>JBWT</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleVersion</key>
	<string>1.0d1</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
        <key>VMOptions</key>
        <string>-Xms=64m -Xmx=512m</string>
</dict>
</plist>
