<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
  <dict>
    <key>CFBundleIconFile</key>
    <string>jbidicon.icns</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleName</key>
    <string>`appname`</string>

    <key>LSArchitecturePriority</key>
    <array>
      <string>i386</string>
      <string>x86_64</string>
      <string>ppc64</string>
      <string>ppc</string>
    </array>

    <key>SUCheckAtStartup</key>
    <string>YES</string>

    <key>SUScheduledCheckInterval</key>
    <string>86400</string>

    <key>SUPublicDSAKeyFile</key>
    <string>dsa_pub.pem</string>

    <key>SUFeedURL</key>
    <string>https://www.jbidwatcher.com/sparkle/updates.xml</string>

    <key>SUShowReleaseNotes</key>
    <string>YES</string>

    <key>CFBundleSignature</key>
    <string>JBid</string>

    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>

    <key>CFBundleShortVersionString</key>
    <string>`friendly_version`</string>

    <key>CFBundleVersion</key>
    <string>`version`</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleIdentifier</key>
    <string>com.jbidwatcher.JBidwatcher</string>

    <key>Java</key>
    <dict>
      <key>JVMVersion</key>
      <string>1.6+</string>

      <key>ClassPath</key>
      <string>$JAVAROOT/`binary`:$JAVAROOT/quaqua.jar:$JAVAROOT/apple.jar:$JAVAROOT/jl1.0.1.jar:$JAVAROOT/jsoup-1.7.1.jar:$JAVAROOT/jdesktop.jar:$JAVAROOT/jruby-incomplete.jar:$JAVAROOT/derby.jar:$JAVAROOT/l2fprod-common-fontchooser.jar:$JAVAROOT/mysql-connector-java-5.1.7-bin.jar:$JAVAROOT/mahalo.jar:$JAVAROOT/json_simple-1.1.jar:$JAVAROOT/txtmark.jar:$JAVAROOT/jDeskMetrics.jar:$JAVAROOT/nonap.jar:$JAVAROOT/aopalliance.jar:$JAVAROOT/guice-3.0.jar:$JAVAROOT/guice-assistedinject-3.0.jar:$JAVAROOT/javax.inject.jar:$JAVAROOT/jsr305-1.3.9.jar:$JAVAROOT/readline.jar:$JAVAROOT/jline-2.11.jar:$JAVAROOT/lib/jbidwatcher/gems.jar:$JAVAROOT</string>

      <key>VMOptions</key>
      <string>-Xms64m -Xmx512m</string>

      <key>MainClass</key>
      <string>com.jbidwatcher.app.JBidWatch</string>

      <key>Properties</key>
      <dict>
	<key>apple.laf.useScreenMenuBar</key>
	<string>true</string>

	<key>apple.awt.graphics.useQuartz</key>
	<string>true</string>

	<key>apple.awt.showGrowBox</key>
	<string>true</string>

	<key>apple.awt.brushMetalLook</key>
	<string>false</string>

	<key>apple.awt.window.position.forceSafeCreation</key>
	<string>true</string>

	<key>apple.awt.window.position.forceSafeProgrammaticPositioning</key>
	<string>true</string>

	<key>apple.awt.window.position.forceSafeUserPositioning</key>
	<string>true</string>
      </dict>
    </dict>
  </dict>
</plist>
